:root {
    // Sizes
    --headerHeight: 80px;
    --footerHeight: 150px;

    // Colors
    --theme-primaryColor: #555e55;
    --theme-secondaryColor: #fff8ef;
    --theme-tertiaryColor: #f1f1f1;

    --theme-primaryContrastColor: #fff;
    --theme-primaryContrastColorRgb: 255, 255, 255;
}
