:root {
	// Sizes
	--headerHeight: 80px;
	--footerHeight: 150px;

	// Colors
	--theme-primaryColor: #2c6268;
	--theme-primaryColorLight: #2e8f9a;
	--theme-primaryColorLighter: #9fbbbe;

	--theme-primaryContrastColor: #fff;
	--theme-primaryContrastColorRgb: 255, 255, 255;
}
