@import "./variables/media-queries";
@import "./variables/z-indexes";
@import "./shared/placeholders";
@import "./shared/mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: var(--theme-primaryFont);
}

html {
    scroll-behavior: smooth;

    @media #{$min-width-lg} {
        @include custom-scrollbar(transparent, var(--theme-primaryColor), 8px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--theme-secondaryFont);
}
